{% extends 'layouts/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Lista de Proveedores
                    </div>
                    <div class="card-body">

                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="mt-4">
                                <button type="submit" class="btn btn-primary">Registrar</button>
                                <a href="{% url 'index' %}" class="btn btn-secondary ms-2">Volver al menu</a>
                            </div>
                        </form>


                        <hr>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Bajo Stock</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in proveedores_info %}
                                <tr>
                                    <td>
                                        {{ item.proveedor.id }}
                                    </td>
                                    <td>
                                        {{ item.proveedor.nombre }}
                                    </td>
                                    <td>
                                        {% if item.bajo_stock %}
                                            <span class="badge bg-danger">Sí</span>
                                        {% else %}
                                            <span class="badge bg-success">No</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
