{% extends 'layouts/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Bienvenido {{ user }}
                    </div>
                    <div class="card-body">

                        <div class="list-group">
                            <div class="list-group">
                                {% include "menu/menu_item.html" with url="agregar-articulo" title="Nueva Venta" description="Cree una nueva venta." %}
                                {% include "menu/menu_item.html" with url="proveedores" title="Lista de Proveedores" description="Vea la lista de proveedores registrados." %}

                                {% comment %}
                                {% include "menu/menu_item.html" with url="register_provedor" title="Registrar Proveedores" description="Registre nuevos proveedores." %}
                                {% include "menu/menu_item.html" with url="ordenar_articulos" title="Hacer Orden para Proveedor" description="Haga una nueva orden para un proveedor." %}
                                {% endcomment %}

                                {% include "menu/menu_item.html" with url="calcular_corte" title="Corte de Día" description="Calcule el corte del día." %}

                                {% if user.is_staff %}
                                    {% include "menu/menu_item.html" with url="admin" title="Administrador" description="Pantalla de gestion del sistema." %}
                                {% endif %}
                            </div>
                        </div>

                        <hr>

                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            {% comment %}
                            <a href="{% url 'register' %}" class="btn btn-primary w-100 mb-2">Registrar Usuario</a>
                            {% endcomment %}
                            <button class="btn btn-danger w-100" type="submit">Cerrar Sesión</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}